

/* Navigation Bar */
nav {
  height: 120px;
  width: 100%;
  background-color: #4056A1;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.5em;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

nav span {
  font-family: 'Bungee', sans-serif;
}

.write-tweet {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: 'Bungee', sans-serif;
  font-size: 1rem;
  cursor: pointer;
  align-items: center;
}

.icon {
  font-size: 1.5rem;
  line-height: 1;
  margin-top: 0.2em;
  color: #FF0000;
}